// Place all the styles related to the admins/Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form {
  text-align: center;
}

.bg-info {
  width: 250px;
}

.main {
  padding: 0 200px;
}

