<p class="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <section class="customer-detail">
        <h2>customer.nameの会員詳細</h2>
    <br>
    <div class="col-xs-8">
        <table class="table">
          <form class="form-horizontal">
            <div class="form-group">
              <div class="ID">
                <label class="col-sm-4 control-label">顧客ID</label>
                <label class="col-sm- control-label">CustomerId</label>
              </div>
              <br>
              <div class="name">
                <label class="col-sm-3 control-label">氏名</label>
                <div class="col-sm-9 form-inline">
                  <input type="text" class="form-control" />&nbsp;
                  <input type="text" class="form-control" />
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="name-kana">
                <label class="col-sm-3 control-label">フリガナ</label>
                <div class="col-sm-9 form-inline">
                  <input type="text" class="form-control" />&nbsp;
                  <input type="text" class="form-control" />
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="postal-code">
                <label class="col-sm-3 control-label">郵便番号</label>
                <div class="col-sm-9 form-inline">
                  <input type="text" class="form-control" />&nbsp;
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="address">
                <label class="col-sm-3 control-label">住所</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" />&nbsp;
                </div>
              </div>
              <br>
              <div class="telephone-number">
                <label class="col-sm-3 control-label">電話番号</label>
                <div class="col-sm-9 form-inline">
                  <input type="text" class="form-control" />&nbsp;
                </div>
              </div>
              <br>
              <br>
              <br>
              <br>
              <div class="email">
                <label class="col-sm-3 control-label">メールアドレス</label>
                <div class="col-sm-9 form-inline">
                  <input type="email" class="form-control" />&nbsp;
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="status">
                <label class="col-sm-3 control-label pull-left">会員ステータス</label>
                <div class="col-sm- form-inline">
                  <input class="form-check-input" type="radio" name="radio1" id="radio1a" checked>
                    <label class="form-check-label" for="radio1a">有効</label>
                    <input class="form-check-input" type="radio" name="radio1" id="radio1b">
                    <label class="form-check-label" for="radio1b">退会済み</label>
                </div>
              </div>
            </div>
          </form>
          <div class='btn-toolbar'>
            <div class="btn-group ">
                <%= link_to '変更を保存する', admins_customer_path, class:"col-xs-12 btn-success btn-lg " %>
            </div>
          </div>
        </table>
      </div>
    </section>
  </div>
</div>


    