<p class="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <section class="customer-detail">
        <h2>customer.nameの会員詳細</h2>
    <br>
    <div class="col-xs-8">
        <table class="table">
          <tr>
            <th>顧客ID</th>
            <th>customer.id</th>
            <th>customer.is_deleted</th>
          </tr>

          <tr>
            <th>氏名</th>
            <th>customer.last_name and customer_first_name</th>
          </tr>
          <tr>
            <th>フリガナ</th>
            <th>customer.last_name_kana and customer.first_name_kana</th>
          </tr>
          <tr>
            <th>郵便番号</th>
            <th>customer.postal_code</th>
          </tr>
          <tr>
            <th>住所</th>
            <th>customer.address</th>
          </tr>
          <tr>
            <th>電話番号</th>
            <th>customer.telephone_number</th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th>customer.email</th>
          </tr>
        </table>
        <br>
        <div class='btn-toolbar'>
          <div class="btn-group">
              <%= link_to '編集する', class: "col-xs-4 btn btn-default" %>
          </div>
          <div class="btn-group">
              <%= link_to '注文履歴一覧を見る', class: "col-xs-9 btn btn-default" %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
