<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<!--ジャンル検索-->

		<div class="col-xs-10">
			<div class="top-visual">
			<p class="top-text">
				ようこそ、NaganoCakeへ！<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には会員登録が必要になります。</p>
			</div>
		</div>
	</div>

			<h2>おすすめ商品</h2>

<%#
			<div class="row">
				<div class="col-4">
				<% products.each do |product| %>
<%#					商品画像を入れる
					<div class="product-name">
						<p><%= product_name %>
<%#						</p>
						 値段を入れる　
					</div>
				<% end %>
<%#				</div>
			</div>
%>

		</div>
	</div>

	<%= link_to "もっと見る", products_path %>
